<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a17916.test4_hook">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <application android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.showResult.AnalyseResultActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="deeplink" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <service android:name=".accessibilityService.InputTextService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_tip"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>


            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice_config">
            </meta-data>
        </service>

        <service android:name=".monitorService.MonitorActivityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/sendData">

        </service>

        <service android:name=".manageActivity.ControllerService"
            android:exported="true"
            android:enabled="true"
            android:label="监控Activity">

        </service>

        <service android:name=".TempGenerateDataBase.GenerateDataService"
            android:exported="true"
            android:enabled="true"
            android:label="添加数据"/>

        <provider
            android:authorities="com.example.a17916.test4_hook.provider"
            android:exported="true"
            android:name=".provider.DatasProvider"/>

    </application>

</manifest>